.error {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.success {
  color: #057032;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.passwordReqs {
  font-size: 0.8rem;
  color: #555;
  white-space: pre-wrap;
  line-height: 1.4;
  margin-top: 0rem;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
